body {
  font-family: "Open Sans", sans-serif;
  color: #3d3d3d;
  margin: 0;
}
main {
  width: 700px;
  margin-inline: auto;
}
.logo,
h1,
figcaption {
  text-align: center;
}
.logo img {
  height: 60px;
}

.sublogo {
  background-color: #fefaf0;
  border-top: 2px solid #efe6c3;
  color: #123c40;
  text-align: center;
  padding: 1px;
  font-size: 14px;
}
.testo {
  font-size: 20px;
  color: #3d3d3d;
}
.focaccia {
  width: 100%;
  border-radius: 10px;
}
figcaption {
  color: rgb(179, 178, 178);
  font-size: 18px;
  padding: 8px;
}
.feature {
  margin: 0;
  border-left: solid 2px #efe6c3;
  padding-left: 20px;
  color: #a76345;
  font-size: 18px;
}
section {
  display: inline-block;
  padding-top: 50px;
  font-size: 20px;
}
section h2 {
  border-bottom: 2px solid #d6e9fa;
  padding-bottom: 20px;
}
section li {
  padding: 10px;
}
footer ol {
  display: inline-block;
  margin-bottom: 5px;
}
footer p {
  display: inline-block;
  font-size: 18px;
}
.more {
  display: inline-block;
}
